# Copy this file to .env and fill in your values
VITE_APP_TITLE=Adakami - Pusat Bantuan & Dukungan Pelanggan
VITE_SUPPORT_NUMBER=62819808982
VITE_SUPPORT_MESSAGE=Halo Tim Adakami, saya butuh bantuan...
